name: stack-templates-ci
on: [push]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  # Publish
  publish:
    name: Publish

    runs-on: ubuntu-22.04
    environment: master

    env:
      CLASH_STARTERS_PRIVATE_KEY: ${{ secrets.CLASH_STARTERS_PRIVATE_KEY }}
      CLASH_STARTERS_PUBLIC_KEY: ${{ secrets.CLASH_STARTERS_PUBLIC_KEY }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Publish
        run: |
          sudo apt-get update
          sudo apt-get install -y git ssh zip gzip tar coreutils haskell-stack
          .ci/publish.sh
